<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.dao.OperationLogMapper">
    <resultMap id="BaseResultMap" type="com.gx.po.OperationLog" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, user_name, timestamp, operation,operation_type, params
  </sql>
    <select id="get" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yy1_operation_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="Integer">
    delete from yy1_operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteAll" parameterType="Integer">
        delete from yy1_operation_log
        where id in
        <foreach collection="array" open="(" close=")" item="item" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.gx.po.OperationLog">
        insert into yy1_operation_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="operationType != null">
                operation_type,
            </if>
            <if test="params != null">
                params,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="operationType != null">
                #{operationType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.gx.po.OperationLog">
        update yy1_operation_log
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                timestamp = #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getOne" parameterType="com.gx.po.OperationLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yy1_operation_log
        <where>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="userName != null">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="timestamp != null">
                and timestamp = #{timestamp,jdbcType=TIMESTAMP}
            </if>
            <if test="operation != null">
                and operation = #{operation,jdbcType=VARCHAR}
            </if>
            <if test="operationType != null">
                and operation_type = #{operationType,jdbcType=VARCHAR}
            </if>
            <if test="params != null">
                and params = #{params,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="getList" parameterType="com.gx.po.OperationLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yy1_operation_log
        <where>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="userName != null">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="timestamp != null">
                and timestamp = #{timestamp,jdbcType=TIMESTAMP}
            </if>
            <if test="operation != null">
                and operation = #{operation,jdbcType=VARCHAR}
            </if>
            <if test="operationType != null">
                and operation_type = #{operationType,jdbcType=VARCHAR}
            </if>
            <if test="params != null">
                and params = #{params,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>

</mapper>